* {
  --color1: #125c13;
  --color2: #3e7c17;
  --color3: #f4a442;
  --color4: #e8e1d9;
}
body {
  background-color: var(--color2);
}
h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--color3);
}
